<section class="content">
    <h1>Currently available study materials</h1>
    {{#if studyMaterials}}


    {{else}}
    <h1>There are no study materials available right now.</h1>
    {{/if}}
</section>