<article class="content">
    <img src="/images/logo.png" alt="">
    <p>A web app that allows students, teachers and everyone looking for knowledge to share useful study resources and catch up with free educational materials that they might have missed.</p>
    </article>