<section class="content">
  <h1 class="title">Log in</h1>
  <form class="specForm" action="/login" method="POST">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      minlength="4"
      maxlength="16"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      minlength="8"
      maxlength="20"
      required
    />
    <button id="postB" type="submit"><p>Proceed</p></button>
    <button id="checkIcon" type="submit"><i
        class="fa-solid fa-check"
      ></i></button>
  </form>
</section>