<section class="content">
    <h1>Contribute to Note Exchange</h1>
    <form action="/postResource" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" maxlength="30" minlength="5" required>
    <label for="topic">Topic</label>
    <input type="text" id="topic" name="topic" minlength="3" maxlength="15" required>
    <label for="url">Link to study material</label>
    <input type="text"  minlength="10" name="url" required>
    <label for="description">Description</label>
    <textarea name="description" id="description" minlength="10" maxlength="200"></textarea>
    <button type="submit">Post</button>
    </form>

</section>