<section class="content">
  <h1 class="title">Create an account</h1>
  <form class="specForm" action="/register" method="POST">
    <label for="username">Username</label>
    <input
      id="username"
      name="username"
      type="text"
      minlength="4"
      maxlength="16"
      required
    />
    <label for="email">Email</label>
    <input id="email" name="email" type="email" maxlength="30" required />
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      minlength="8"
      maxlength="20"
      required
    />
    <label for="rePass">Confirm password</label>
    <input
      id="rePass"
      name="rePass"
      type="password"
      minlength="8"
      maxlength="20"
      required
    />
    <button id="postB" type="submit"><p>Proceed</p></button>
     <button id="checkIcon" type="submit"><i class="fa-solid fa-check"></i></button>
  </form>
</section>