
/* Styles applied to components that are visible in each page */

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding: 3vh 10vw;
    text-transform: uppercase;
    align-items: center;
    height: 8vh;background-color: black;
    color: white;
    overflow-y: hidden;
}
nav ul li a{color: white;}


.content li{
    background-color: black;
    color: white;padding: 4vh 2vw;
    gap: 2vh;
    display: flex;
    flex-direction: column;
}
.content li a{
    color: white;
}

.content{
    
    padding: 5vh 10vw;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.content form{
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;
    gap: 2vh;
    width: 40vw;

}
a{
    text-decoration: none;
}
.content ul{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#navSearch{
    display: flex;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1vw;
    padding: 0.1vh 0.6vw;
    background-color: white;
    
}
#navSearch input, #navSearch button{
    border: none;
    padding: 0.5vw;
    overflow-y: hidden;
}
#navSearch input:focus{
    border: none;
    outline: none;
}
#navSearch i{
    font-size: 1vw;
    overflow-y: hidden;
}
button{
    padding: 1vw;
    border-radius: 1vw;
    
}
.content button{
    margin-bottom: 4vh;
}
input{
    padding: 0.5vw;
    border-radius: 0.5vw;
}
nav img{
    width: 10vw;
    aspect-ratio: 16/9;
}
.content img{
    width: 50vw;
    aspect-ratio: 16/9;
}


textarea{
    resize: none;
    height: 15vh;
    padding: 1vw;
}

footer{
    position:fixed;
    bottom: 0;
    padding: 1vw;
    font-weight: 600;
    text-align: center;
    width: 100vw;
    
    background-color: black;
    color: white;
    
}
#scroll{
    position: fixed;
    bottom: 10vh;
    right: 1vw;
    font-size: 3vw;
    
    

}
 .hidden{
 visibility: hidden; 
  
}

button:hover{
    cursor: pointer;
}