
/* Styles applied to elements that are visible in each page */

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: black;
    
    padding: 3vh 5vw;
    justify-content: space-evenly;
}
nav ul a{
    color: white;
}
nav li{
    display: flex;
    align-items: center;
   
    padding: 0.5vh 0.5vw;
    border-radius: 1vw;
    font-weight: 600;
    transition: background-color 0.8s ease-in-out;
} 
nav li:hover{
    background-color: white;
    
}
nav li:hover a{
    color: green
    ;
}

nav form{
    display: flex;
    border: none;
} 
nav form input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}
nav form button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background-color: black;
    color: white;
    border: 2px solid white;
    
}
nav form input:focus{
    outline: none;
    box-shadow: none;
}


.content li{
    background-color: black;
    color: white;padding: 4vh 2vw;
    gap: 2vh;
    display: flex;
    flex-direction: column;
}
.content li a{
    color: white;
}

.content{
    
    padding: 5vh 10vw;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-bottom: 5vh;
}
.content form{
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;
    gap: 2vh;
    width: 40vw;

}
a{
    text-decoration: none;
}
.content ul{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#navSearch{
    display: flex;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1vw;
    padding: 0.1vh 0.6vw;
    background-color: white;
    
}
#navSearch input, #navSearch button{
    border: none;
    padding: 0.5vw;
    overflow-y: hidden;
}
#navSearch input:focus{
    border: none;
    outline: none;
}
#navSearch i{
    font-size: 1vw;
    overflow-y: hidden;
}
button{
    padding: 1vw;
    border-radius: 1vw;
    
}
.content button{
    margin-bottom: 4vh;
}
input{
    padding: 0.5vw;
    border-radius: 0.5vw;
}
nav img{
    width: 10vw;
    aspect-ratio: 16/9;
}
.content img{
    width: 50vw;
    aspect-ratio: 16/9;
}


textarea{
    resize: none;
    height: 15vh;
    padding: 1vw;
}

footer{
    position:fixed;
    bottom: 0;
    padding: 1.6vw;
    font-weight: 600;
    text-align: center;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    
}

footer p{
    text-align: center;
}
#gitHub{
    position: fixed;
    left: 2vw;
    font-size: 3vw;
    color: white;
}
#scroll{
    position: fixed;
    bottom: 10vh;
    right: 1vw;
    font-size: 3vw;
    background-color: transparent;
    border: none;
    
    

}
 .hidden{
 visibility: hidden; 
  
}

button:hover{
    cursor: pointer;
}


