*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding: 3vh 10vw;
    text-transform: uppercase;
}

.content{
    
    padding: 5vh 10vw;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.content form{
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;
    gap: 2vh;
    width: 40vw;

}