/* Styles applied to specific elements which appear only in some pages */


#changePost{
    display: flex;
    gap: 1vw;
    justify-content: center;
}
#changePost button{
    background-color: transparent;
    border: none;
}
#changePost i{
    font-size: 2.7vw;
}
#edit{
    color: blue;
}
#delete{
    color: red;
}

#userInfo, #postInfo{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 3vw;
    border: 3px solid gray;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}
#userInfo h3{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#userInfo i{
    color: black;
    font-size: 2.7vw;
}

#postInfo h1{
    font-size: 2vw;
}

#dropdown{
    display: none;
  
}
#dropdown button{
    border-radius: 0;
    width: 8vw;
}
#accSettings{
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 8vw;
}
#accSettings p{
    padding-bottom: 1vh;
    text-align: center;
    font-size: 3vw;
    color: olivedrab;
    
}
#accSettings:hover #dropdown{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
}
